.TitleLabel {
    text-align: center;
    /* background-color: pink; */
    background-image: url('../Images/retina_wood_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Amatic SC';
    font-size: 300%;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
}

#title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 130%;
}

@media only screen
  and (max-device-width: 600px) {
    #title{
        font-size: 75%;
    }
}