#Background{
    background-image:url('../../components/Images/marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px #888, 0px -5px 5px #888;
    padding-top: 5%;
    padding-bottom: 5%;
}

#list{
    font-family: 'Bintari';
    font-size: 50px;
    background-position: left;
   
}

#service{
    list-style-type: none;
    font-family:'Bintari' ;
    font-size: 40px;
    background-color: white;
    list-style-position: inside;
}

#question{
    font-family: 'Lucida Sans';
    font-size: 90%;

}