.Footer {
    text-align: center;
    background-color: black;
    color: white;
    /* font-family: 'Playfair Display'; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Playfair Display';
    /* font-family: 'Amatic SC; */
    font-weight: 500;
    font-size: large;
}

#brand {
    padding-top: 80px;
    font-family: 'Amatic SC';
}

#icons{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;;
}

#link{
    color:white;
}

#copyright{
    font-size: 150%;
    padding-bottom: 20px;
}

#teamButton{
    margin-bottom: 10px;
}

.modal-title{
    color: black;
}

.modal-body{
    color: black;
}

@media only screen
  and (max-device-width: 800px) {
    #contactinfo{
        font-size: 200%;
    }
}